@media all and (max-width:1000px){
    .carousel-caption h1{
        font-size:3em;
    }
    .carousel-caption h3{
        font-size: 2em;
    }
    .carousel-caption button{
        transform: scale(0.9);
    }
}
@media all and (max-width:650px){
    .carousel-caption h1{
        font-size:2em;
    }
    .carousel-caption h3{
        font-size: 1em;
    }
    .carousel-caption button{
        transform: scale(0.7);
    }
}
@media all and (max-width:500px){
    .carousel-caption h1{
        font-size:1.2em;
    }
    .carousel-caption h3{
        font-size: 1em;
    }
    .carousel-caption button{
        transform: scale(0.6);
    }
}