.carousel-inner{
    height:500px;
}
.carousel-inner img{
    transform: translateY(-25%);
    width:100%;
    height:100%;
}
.carousel-caption{
    position: absolute;
    top:50%;
    transform: translateY(-80%);
    text-shadow: 1px 1px 10px black;
}
.menu-list{
    border:1px solid grey;
    font-size:20px;
}
.dish-list{
    border:1px solid grey;
}